<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
          <h3 class="card-header">{{[post.author]}}</h3>
          <div class="card-block">
              <h4 class="card-title">{{[post.title]}}</h4>
              <div class="card-text">
                  {{post.content}}
              </div>
          </div>
          <div class="card-footer">
              <button (click)="deletePost(post)" class="btn btn-sm btn-link">Delete post: {{post.id}}</button>
          </div>
      </div>
  </div>
</div>
